body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BCC6CC;
    text-align: center;
}

header {
    background: #008374;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    background: #B6B6B4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border:1px solid #2ff;
}

.product img {
    max-width: 100%;
    border-radius: 8px;
}

.price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #d32f2f;
    margin-top: 10px;
}

footer a p {
    margin-top: 20px;
    padding: 10px;
    background: ;
    color: white;
    text-decoration: none;
}
